{% extends "layout.html" %}

{% block content %}

<div class="main_div">
  <h2>{{ r.name }}</h2> <!--Restaurant name-->
  <form class="" action="{{ url_for('new_menu_item', restaurant_id=restaurant_id) }}" method="post">
    <p>Name:</p>
    <input type="text" name="menu_name" placeholder="Item name..."> <!--item name-->
    <p>Price:</p>
    <input type="text" name="menu_price" placeholder="$0.00"> <!--item price-->
    <p>Description:</p>
    <input type="text" name="menu_description" placeholder="Item description..."> <!--item description-->
    <br> <br>
    <input type="submit" value="Create">
  </form>
  <a href="{{ url_for('show_menu', restaurant_id=restaurant_id) }}" class="cancel_button">Cancel</a>
</div>

{% endblock %}
