{% extends "layout.html" %}

{% block content %}

<div class="main">
  <h2>{{ restaurant.name }}</h2> <!-- Restaurant Name -->
  {% if restaurant.user_id == current_user.id %}
  <div class="new_item">
    <a href="{{ url_for('new_menu_item', restaurant_id=restaurant_id) }}">Add new item</a>    
  </div>
  {% endif %}
  {% for i in items %} <!-- Menu items -->
    <div class="menu_item">      
      <span><h3>{{ i.name }}</h3></span>
      <span><h6>{{ i.price }}</h6></span>
      <span><p>{{ i.description }}</p></span>      
      {% if restaurant.user_id == current_user.id %}
        <div class="editdeletepane">
          <a href="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Edit</a>
          <a href="{{ url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Delete</a>
        </div>  
      {% endif %}          
    </div>
  {% endfor %}
</div>

{% endblock %}
